
.mutabaah{
    font-size: 14px;
}
.text-white{
    color: white;
}
.text-black{
  color: black;
}
.text-center{
    text-align: center;
}
.border-right{
	border-right: 2px dashed green;
}
.bg-mutabaah{
	background-color: #71A922 !important;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.bg-green {
  background: rgb(5, 81, 8) !important;
}